 
  .welcome-page h3 {
    color: #fff; /* Set text color to white or adjust as needed */
  }
  
  .welcome-page subtitle1 {
    color: #fff; /* Set text color to white or adjust as needed */
  }
  
  .welcome-page button {
    margin-top: 20px;
  }
  